name: NodeJS with Webpack

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: Build
      run: |
        npm ci
        npm run build
        zip -r extension_release.zip package
    - uses: actions/upload-artifact@v6.0.0
      with:
        name: extension_release
        path: extension_release.zip 
